---
import { Image } from 'astro:assets';
import logo from '../assets/images/logo.webp';
import Logo from './Logo.astro';
import { LOGOS } from '../constants/SocialLogos';
const currentYear = new Date().getFullYear();
---

<footer
  class='footer bg-base-200 shadow-md flex flex-col gap-1 items-center p-4 md:justify-between md:flex-row-reverse relative left-0 bottom-0 w-full'
>
  <nav class='grid-flow-col gap-4 md:justify-self-end py-2'>
    {
      LOGOS.map(({ id, href, className }) => (
        <a href={href} target='_blank'>
          <Logo id={id} title={href} className={className} />
        </a>
      ))
    }
  </nav>
  <aside class='grid-flow-col items-center'>
    <Image
      src={logo}
      alt='Logo'
      width={32}
      height={32}
      alt='Logo del portafolio'
    />
    <p>
      Hecho por Carlos Pulido - {currentYear}
    </p>
  </aside>
</footer>
